<nav class="navbar navbar-expand-lg " style="background-color:orange;">
    <div class="container px-4 px-lg-5">
        <h2 class="navbar-brand" href="#!" style="font-weight: bolder;color:black;font-style: italic;">MOVIE APP</h2>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="d-flex" role="search" (ngSubmit)="onHandleMovieFilter()" [formGroup]="inputData">
                <input formControlName="search" class="form-control me-2 ms-4" type="search" placeholder="Search By FilmName"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


            <form class="d-flex ms-4" role="search" (ngSubmit)="onHandleCategory()" [formGroup]="inputData1">
                <input formControlName="search1" class="form-control me-2" type="search" placeholder="Search By Category"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <!-- <li class="nav-item dropdown" style="margin-left: 500px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
                    <li *ngFor="let items of categoryList"><a class="dropdown-item" href="#"
                            (click)="onHandleCategory(items)">{{items}} </a></li>

                </ul>
            </li> -->
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"
                style=" font-family: 'Peralta', 'cursive';color:orange;background-color: black;font-size:70px;">
                FILMFLIX</h1>
            <h3 class="lead fw-normal text-white-50 mb-0" style="color: white;">Feel The Emotions With FilmFlix</h3>
        </div>
    </div>
</header>

<section class="py-5" style="background-color: black;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let item of list" class="col mb-5">
                <div class="card h-100" style="background-color:#3A3B3C;color: aliceblue;">
                    <img src="{{item.url}}">
                    <h5 class="text-center mt-2"
                        style="font-style:normal;font-size:larger;font-weight:bold;color: yellow;">
                        {{item.Title}}
                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">Year:</span>
                        {{item.Year}}

                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">Director:</span>
                        {{item.Director}}

                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">Actors:</span>
                        {{item.Actors}}

                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">Language:</span>
                        {{item.Language}}
                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">imdbRating:</span>
                        {{item.imdbRating}}
                    </h5>
                    <h5 class="ms-2" style="font-style: italic;font-size: medium;font-weight: lighter;">
                        <span style="font-style: normal;font-size: larger;font-weight: bolder;">Genre:</span>
                        {{item.Genre}}
                    </h5>




                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->

                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>

        </div>
    </div>
</section>